@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply transition-colors duration-200;
    }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
